* {
    margin: 0 auto;
    padding: 0;
    font-family: "Work Sans", sans-serif;

}

/* common styles  */
.primary_btn {
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    background: #fff;
    padding: 20px 25px;
    color: #005FAC;
    font-weight: 600;
    cursor: pointer;

}

.primary_title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}


/* banner container style  */

.main_container {
    max-width: 1220px;

}

.header {
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_content {
    padding: 215px 0;
    text-align: right;

}

.banner_content h2 {
    color: #FFF;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    width: 600px;
    margin-right: 0;
    margin-bottom: 30px;

}

.banner_content>p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
    margin-right: 0;
    margin-bottom: 30px;
}

/* My_failures section style start */

.my_failures {
    margin: 150px 0;
    display: flex;
    gap: 100px;
    align-items: center;
}


.my_failures_description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}

.my_failures_item ul li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 8px;
}

.my_failures_item ul li .check {
    color: #16D887;
}

/* my plans section style  */
.my_plans_container{
    margin-bottom: 150px;
}

.plans_title {
    text-align: center;
    text-transform: capitalize;
}

.plans_item_container{
    display: flex;
}

.plan_item {
    text-align: center;
}

.plan_item_title {
    margin: 15px 0;
    color:#151414;
    font-size: 30px;
    font-weight: 700;
}

.plan_item_description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}